<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tarifiyt.com</title>

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  </head>
  <body>

    <nav class="navbar" style="margin: 4px;" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://tarifiyt.com"><img src="/static/images/logo.png" alt="Tarifiyt.com: Mani tt-munen Imaziɣen d iḥuriyen"></a>
        </div>
    </nav>



  <section class="section">
    <div class="container" style="max-width: 800px;">
        <h1 class="title">Tinfusin n Figuig</h1>

        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="https://tarifiyt.com">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                      </span>
                      Tarifiyt.com</a></li>
                <li><a href="/figuig.html">Figuig</a></li>
                <li class="is-active"><a href="#" aria-current="page">Tinfusin</a></li>
            </ul>
        </nav>

        <div class="list" id="list">
            <div class='list-item'><div class='list-item-title'>1. <a href='/figuig/tinfusin/1. Uccen d yinsi ikerrazen.html'>Uccen d yinsi ikerrazen</a></div></div>
            <div class='list-item'><div class='list-item-title'>2. <a href='/figuig/tinfusin/2. Tacerza n wuccen d yinsi.html'>Tacerza n wuccen d yinsi</a></div></div>
            <div class='list-item'><div class='list-item-title'>3. <a href='/figuig/tinfusin/3. Tuceṛḍa n wuccen d yinsi.html'>Tuceṛḍa n wuccen d yinsi</a></div></div>
            <div class='list-item'><div class='list-item-title'>4. <a href='/figuig/tinfusin/4. Uccen, insi d uyṛaḍ.html'>Uccen, insi d uyṛaḍ</a></div></div>
            <div class='list-item'><div class='list-item-title'>5. <a href='/figuig/tinfusin/5. Ikεeb d wuccen.html'>Ikεeb d wuccen</a></div></div>
            <div class='list-item'><div class='list-item-title'>6. <a href='/figuig/tinfusin/6. Aɣerda d tɣerdayt.html'>Aɣerda d tɣerdayt</a></div></div>
            <div class='list-item'><div class='list-item-title'>7. <a href='/figuig/tinfusin/7. Taɣerdayt tajellitt.html'>Taɣerdayt tajellitt</a></div></div>
            <div class='list-item'><div class='list-item-title'>8. <a href='/figuig/tinfusin/8. At ukeṛkeṛ.html'>At ukeṛkeṛ</a></div></div>
            <div class='list-item'><div class='list-item-title'>9. <a href='/figuig/tinfusin/9. Awessar d imendi.html'>Awessar d imendi</a></div></div>
            <div class='list-item'><div class='list-item-title'>10. <a href='/figuig/tinfusin/10. Tayujilt.html'>Tayujilt</a></div></div>
            <div class='list-item'><div class='list-item-title'>11. <a href='/figuig/tinfusin/11. Ayujil.html'>Ayujil</a></div></div>
            <div class='list-item'><div class='list-item-title'>12. <a href='/figuig/tinfusin/12. Timefṛeṭṭ n yiɣed.html'>Timefṛeṭṭ n yiɣed</a></div></div>
            <div class='list-item'><div class='list-item-title'>13. <a href='/figuig/tinfusin/13. Aṛḍel d Uzgen n Uṛḍel.html'>Aṛḍel d Uzgen n Uṛḍel</a></div></div>
            <div class='list-item'><div class='list-item-title'>14. <a href='/figuig/tinfusin/14. Tayemlult d Yemlul.html'>Tayemlult d Yemlul</a></div></div>
            <div class='list-item'><div class='list-item-title'>15. <a href='/figuig/tinfusin/15. Tanfust n uɣatir.html'>Tanfust n uɣatir</a></div></div>
            <div class='list-item'><div class='list-item-title'>16. <a href='/figuig/tinfusin/16. Qefqaf, Zefzaf, Ḥefḥaf, Tzizwett.html'>Qefqaf, Zefzaf, Ḥefḥaf, Tzizwett</a></div></div>
            <div class='list-item'><div class='list-item-title'>17. <a href='/figuig/tinfusin/17. Aman n jaṛ iɣanimen.html'>Aman n jaṛ iɣanimen</a></div></div>
            <div class='list-item'><div class='list-item-title'>18. <a href='/figuig/tinfusin/18. Tanfust n umẓa.html'>Tanfust n umẓa</a></div></div>
            <div class='list-item'><div class='list-item-title'>19. <a href='/figuig/tinfusin/19. Lunja 6  .html'>Lunja<sup>6</sup></a></div></div>
            <div class='list-item'><div class='list-item-title'>20. <a href='/figuig/tinfusin/20. Lila d Ɛmeṛ.html'>Lila d Ɛmeṛ</a></div></div>
            <div class='list-item'><div class='list-item-title'>21. <a href='/figuig/tinfusin/21. Ɛica Hengaḷa.html'>Ɛica Hengaḷa</a></div></div>
            <div class='list-item'><div class='list-item-title'>22. <a href='/figuig/tinfusin/22. Yenṣiṣ.html'>Yenṣiṣ</a></div></div>
            <div class='list-item'><div class='list-item-title'>23. <a href='/figuig/tinfusin/23. Taslit d temɣaṛt.html'>Taslit d temɣaṛt</a></div></div>
            <div class='list-item'><div class='list-item-title'>24. <a href='/figuig/tinfusin/24. Taḍekkʷalt d temɣaṛt.html'>Taḍekkʷalt d temɣaṛt</a></div></div>
            <div class='list-item'><div class='list-item-title'>25. <a href='/figuig/tinfusin/25. Taslit d teẓyeṭṭ.html'>Taslit d teẓyeṭṭ</a></div></div>
            <div class='list-item'><div class='list-item-title'>26. <a href='/figuig/tinfusin/26. Tameṭṭut itcen mmis.html'>Tameṭṭut itcen mmis</a></div></div>
            <div class='list-item'><div class='list-item-title'>27. <a href='/figuig/tinfusin/27. Tajenneyt ittaṛwen.html'>Tajenneyt ittaṛwen</a></div></div>
            <div class='list-item'><div class='list-item-title'>28. <a href='/figuig/tinfusin/28. Knuz 17  .html'>Knuz<sup>17</sup></a></div></div>
            <div class='list-item'><div class='list-item-title'>29. <a href='/figuig/tinfusin/29. Uṛeɣ n Vvu.html'>Uṛeɣ n Vvu</a></div></div>
            <div class='list-item'><div class='list-item-title'>30. <a href='/figuig/tinfusin/30. Taslit n Wuday.html.html'>Taslit n Wuday.html</a></div></div>
        </div>

        
    </div>

<!--     <a href="/figuig/tanfust.html?tanfust=28">hey</a> -->

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <!-- <script> 
        fetch('/data/stories.json')
            .then((response) => response.json())
            .then((json) => star(json));
        
        function star(json){
            s = ''
            for (const i in json){
                s += `<div class="list-item"><div class="list-item-title">${i+1}. <a href="/figuig/tinfusin/${i+1}. ${json[i]['story'].split('\n', 1)[0]}">${json[i]['story'].split('\n', 1)[0]}</a></div></div>`
            }
            $("#list").html(s)
        }
    </script> -->
</body>
</html>
